@model OnlineRealEstate.Models.PropertyFeatureModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyFeature</title>
</head>
<body>
    <div>


        @using (Html.BeginForm("AddPropertyValue", "PropertyFeature", FormMethod.Post))
        {

            <table>
              
                <tr>
                    <th>Property Features</th>
                    <th>Values</th>
                    <th>@Html.HiddenFor(Model => Model.PropertyId)</th>


                </tr>
                <tr>
                </tr>
                @foreach (var item in ViewBag.propertyFeature)
                {
                    <tr>
                        <td>@item.PropertyFeatureName</td>
                        <td>@Html.HiddenFor(Model  => Model.PropertyFeatureId,new {@Value=item.PropertyFeatureId })</td>
                        <td> @Html.TextBoxFor(Model => Model.Value)</td>>
                    </tr>
                }
                <tr>
                    <td>

                        <input type="submit" id="=submit" />
                    </td>
                </tr>

            </table>


        }
    </div>
</body>
</html>

